<div class="image">
<app-base-page></app-base-page>
<div class="container">
  <div class="jumbotron">


        <h1>Thank you for visiting my Portfolio</h1>
        <br>

        <p><b>Profile Summary </b>
          <br>
          •	Over 4+ years of extensive experience as a Front End UI Developer with solid understanding of database designing, development and installation of different modules.
          <br>
          •	Experience in all phase of SDLC like Requirement Analysis, Implementation and Maintenance, and extensive experience with Agile and SCRUM.
        <br>
          •	Excellent experience in developing web pages complying with Web Content Accessibility Guidelines (WCAG) and ability to apply W3C web standards. </p>
        <br>
        <a>Click here to go to => </a><a class="btn btn-primary" href="/about" role="button">About Page</a><br><br>
        <a>Click here to go to => </a><a class="btn btn-primary" href="/products" role="button">Projects Page</a><br><br>
        <a>Click here to go to => </a><a class="btn btn-primary" href="/services" role="button">Services Page</a><br><br>
        <a>Click here to go to => </a><a class="btn btn-primary" href="/contact" role="button">Contact Page</a><br><br>

      </div>
    </div>
    </div>
