<div class="image">
<app-base-page></app-base-page>

<div class="container">
    <div class="jumbotron">

        <div>
            <img src="/assets/images/ThinkTech.png" alt="ThinkTech" width="300" align="right" hspace="50" >
            <h5>Front End/UI Developer - ThinkTech Software Inc. (Apr 2018 - Till Date)</h5>
            <p><li>	Involved in development, design and implementation of front end part of the application.</li>
               <li>	Created and maintained the framework and layout of each portal with Cascading Style Sheets (CSS).</li>
               <li>	Successfully implemented Auto Complete/Auto Suggest functionality using Ajax, JQuery, DHTML, Web Service call and JSON.</li>
               <li>	Responsible to manipulate HTML5, CSS3 in JQuery as well as making the pages dynamic using AJAX, JSON and XML. </li>
               <li>	Used Angular 5 to develop the front end of the payment process web application.</li>
               <li>	Worked with Angular 5 Forms, Validations, Modules, Factory Services, DOM, Events, Expressions, Directives, Controllers, filters. </li>
               <li>	Created TypeScript reusable components and services to consume REST API's using Component based architecture provided by Angular 4.</li>
                </p>

            </div>
            <br><br><br><br>
            <div>
            <img src="/assets/images/Iversoft.png" alt="Iversoft" width="300" align="right" hspace="50"  >
            <h5>Front End/UI Developer - Iversoft (Nov 2016 - Mar 2018)</h5>
            <p><li>	Involved in Requirements and Analysis Understanding the requirements of the client and the flow of the application as well as the application Framework.</li>
              <li>	Developed the UI Screens using HTML5, DHTML, XML, Java Scripts, Ajax, JQuery Custom-tags, JSTL DOM Layout and CSS.</li>
              <li>	Responsible for the overall layout design, color scheme of the web site using HTML5, XHTML and CSS3 and Responsible for creating detailed wire frames and process flows.</li>
              <li>	Used Bootstrap and Angular.js for effective design of Web pages.</li>
              <li> 	Developed various screens for the front end using React.js and used various predefined components from NPM (Node Package Manager) and Redux library.</li>
              <li>	Developed cross-browser/platform HTML5, CSS, and JavaScript to match design specs for complex page layouts while adhering to code standards.</li>
              <li>	Used Rxjs in Angular 2 to make the HTTP requests to the REST API for getting the user details.</li>
                </p>
            </div>
            <br><br><br><br>
            <div>
            <img src="/assets/images/Intelliware.svg" alt="Intelliware" width="300" align="right" hspace="50" >
            <h5>UI Developer - Intelliware Development Inc. (Apr 2015 – Oct 2016)</h5>
            <p><li>	Analyzed business requirements, participated in technical design, development and testing of various modules assigned.</li>
              <li> 	Worked as the main UI developer and delivered the module as per the business need and wireframes using front end technologies HTML5, CSS3, JavaScript, jQuery and Bootstrap.</li>
              <li> 	Developed data insertion forms and validated them using JavaScript.</li>
              <li> 	Created and maintained the framework and layout of each portal with Cascading Style Sheets (CSS).</li>
              <li> 	Involved in developing HTML5 and JavaScript for client side presentation and, data validation on the client side with in the forms.</li>
              <li> 	Created Responsive Designs (Mobile/Tablet/Desktop) using HTML5 & CSS3.</li>
              <li>	Worked on Bootstrap CSS framework for Responsive Web Design.</li>
                 </p>
            </div>




    </div>
   </div>
   </div>
