<div class="image">
<app-base-page></app-base-page>


<div class="container">
    <div class="jumbotron">

        <img src="/assets/images/Services.gif" alt="Services" width="500" align="right" hspace="50"  >
        <h3>The services that I provide are :-</h3>
                <ul>
                    <li>Java Script</li>
                    <li>Angular</li>
                    <li>React.js</li>
                    <li>JSON</li>
                    <li>JQuery</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Android</li>
                    <li>Unix/Linux</li>
                    <li>ASP.NET</li>
                    <li>XHTML</li>
                    <li>DHTML</li>
                    <li>Flexbox</li>
                    <li>Bootstrap</li>
                    <li>SASS</li>
                    <li>LESS</li>
                    <li>XML</li>
                    <li>PHP</li>
                </ul>





    </div>
   </div>
  </div>
